
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* background: #90b1d3; */
    padding: 10px;
  }
  .project-card {
    width: 300px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  